// $accentColor = #424242
// $accentColor = #1062b4
// $textColor = #232321

// 颜色
$accentColor = #4e98bb
$textColor = #232321
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #5cb85c
$badgeWarningColor = #ffd51e
$badgeErrorColor = #d95376

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 840px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px